/* From Uiverse.io by csozidev */ 
/* 3D tower loader made by: csozi | Website: www.csozi.hu*/
/* Loader Overlay with Fade-Out Transition */
.loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255); /* Semi-transparent background */
	z-index: 9999; /* Ensures it's above all other content */
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 1s ease; /* Fade-out transition */
  }
  
  /* When fading out, set display to none (after transition ends) */
  .loader-overlay.fade-out {
	opacity: 0;
  }  
  
.loader {
	scale: 3;
	height: 50px;
	width: 40px;
  }
  
  .box {
	position: relative;
	opacity: 0;
	left: 10px;
  }
  
  .side-left {
	position: absolute;
	background-color: #286cb5;
	width: 19px;
	height: 5px;
	transform: skew(0deg, -25deg);
	top: 14px;
	left: 10px;
  }
  
  .side-right {
	position: absolute;
	background-color: #2f85e0;
	width: 19px;
	height: 5px;
	transform: skew(0deg, 25deg);
	top: 14px;
	left: -9px;
  }
  
  .side-top {
	position: absolute;
	background-color: #5fa8f5;
	width: 20px;
	height: 20px;
	rotate: 45deg;
	transform: skew(-20deg, -20deg);
  }
  
  .box-1 {
	animation: from-left 4s infinite;
  }
  
  .box-2 {
	animation: from-right 4s infinite;
	animation-delay: 1s;
  }
  
  .box-3 {
	animation: from-left 4s infinite;
	animation-delay: 2s;
  }
  
  .box-4 {
	animation: from-right 4s infinite;
	animation-delay: 3s;
  }
  
  @keyframes from-left {
	0% {
	  z-index: 20;
	  opacity: 0;
	  translate: -20px -6px;
	}
  
	20% {
	  z-index: 10;
	  opacity: 1;
	  translate: 0px 0px;
	}
  
	40% {
	  z-index: 9;
	  translate: 0px 4px;
	}
  
	60% {
	  z-index: 8;
	  translate: 0px 8px;
	}
  
	80% {
	  z-index: 7;
	  opacity: 1;
	  translate: 0px 12px;
	}
  
	100% {
	  z-index: 5;
	  translate: 0px 30px;
	  opacity: 0;
	}
  }
  
  @keyframes from-right {
	0% {
	  z-index: 20;
	  opacity: 0;
	  translate: 20px -6px;
	}
  
	20% {
	  z-index: 10;
	  opacity: 1;
	  translate: 0px 0px;
	}
  
	40% {
	  z-index: 9;
	  translate: 0px 4px;
	}
  
	60% {
	  z-index: 8;
	  translate: 0px 8px;
	}
  
	80% {
	  z-index: 7;
	  opacity: 1;
	  translate: 0px 12px;
	}
  
	100% {
	  z-index: 5;
	  translate: 0px 30px;
	  opacity: 0;
	}
  }


header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #e7ecef;
    padding: 0.5rem 1rem; 
    height: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
}

header .logo img {
    width: 2.0rem; 
}

header .navlist {
    display: flex;
    gap: 1rem; 
}

header .nav-link {
    color: #e7ecef;
    text-decoration: none;
    font-size: 1rem; 
    padding: 0.5rem 1rem; 
}

header .nav-link:hover {
    color: #274c77;
    text-decoration: underline;
}

header .bx-menu {
    font-size: 1.2rem; 
}

@media (max-width: 768px) {
    header .navlist {
        display: none; 
    }
}


.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 250px;
	background-color: #8b8c89;
	color: #e7ecef;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 999;
}

.sidebar.active {
	transform: translateX(0);
}
.sidebar .close-btn {
	font-size: 1.5rem;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.sidebar .navlist {
	color: #8b8c89;
	margin-top: 50px;
}
.sidebar .nav-item {
	padding: 15px;
}
.sidebar .nav-link {
	color: #e7ecef;
	text-decoration: none;
	font-size: 1.2rem;
}
.sidebar .nav-link:hover {
	color: #274c77;
	text-decoration: underline;
}
#rov {
	font-family: "Kanit", sans-serif;
    font-size: 8rem;
    color: #274c77; 
    -webkit-text-stroke: 2px #8b8c89;
    text-shadow: 2px 2px 5px #e7ecef;
}

@media (max-width: 768px) {
    #rov {
        font-size: 5rem;
    }
}

@media (max-width: 456px) {
    #rov {
        font-size: 2rem;
    }
}

/* Basic outline button styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #274c77; 
    border-radius: 5px; 
    color: #274c77; 
    background-color: transparent; 
    transition: all 0.3s ease; 
}

/* Hover effect */
.btn:hover {
    background-color: #274c77; 
    color: #e7ecef; 
}

/* Optional for more padding or responsive adjustment */
.btn-outline-primary {
    padding: 12px 25px; 
}

.home{
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(img/rovz.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 100px;
}

.hero-text h3{
	font-family: 'Kanit', sans-serif;
	color: #e7ecef;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 0%;
	word-spacing: 10px;
}

.hero-text h1{
	font-family: 'Dosis', sans-serif;
	font-size: 75px;
	color: #274c77;
	font-weight: 800;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.hero-text h4{
	color: #e7ecef;
	font-size: 25px;
	font-weight: 600;
	word-spacing: 15px;
	margin-bottom: 3.5rem;
}

.about {
    padding: 50px 5%;
    background-color: #8b8c89;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	margin-bottom: 100px;
}

.about-img {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 20px 0;
	height: auto;
}

.about-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.about-text {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 0 20px;
}

.about-text h2 {
	font-family: "Kanit", sans-serif;
    font-size: 4rem;
    color: #274c77;
    margin-bottom: 15px;
	-webkit-text-stroke: 2px #8b8c89;
    text-shadow: 2px 2px 5px #e7ecef;
}

.about-text h4 {
    font-size: 1.5rem;
    color: #274c77;
    margin-bottom: 15px;
	text-align: justify;
	font-weight: bold;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
	text-align: justify;
}

.row.align-items-center {
    align-items: center;
}

.about-box{
	padding: 100px 90px;
	background: #e7ecef;
	border-radius: 0.8rem;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all ease .50s;
}

/*sa certifications nga part*/
.certifications{
	margin-bottom: 145px;
}

.certifications h2 {
	font-family: "Kanit", sans-serif;
    font-size: 3.5rem;
    color: #274c77;
    margin-bottom: 20px;
	-webkit-text-stroke: 2px #8b8c89;
    text-shadow: 2px 2px 5px #e7ecef;
}

.certification-box{
	padding: 45px 30px;
	background: #e7ecef;
	border-radius: 0.8rem;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all ease .50s;
}

.certifications i{
	font-size: 50px;
	color: #274c77;
	margin-bottom: 10px;
}

.certifications h3{
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 12px;
	color: #8b8c89;
}

.certifications p{
	color: #333;
	font-size: 1.1rem;
	line-height: 30px;
	margin-bottom: 1.5rem;
}

/*sa portfolio ni nga part*/
.portfolio{
	margin-bottom: 370px;
}

.portfolio h2 {
	font-family: "Kanit", sans-serif;
    font-size: 3.5rem;
    color: #274c77;
    margin-bottom: 20px;
	-webkit-text-stroke: 2px #8b8c89;
    text-shadow: 2px 2px 5px #e7ecef;
}

.portfolio h4 {
    font-size: 1.5rem;
    color: #8b8c89;
    margin-bottom: 20px;
}


.portfolio-box{
	padding: 45px 30px;
	background: #e7ecef;
	border-radius: 0.8rem;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all ease .50s;
}

.portfolio i{
	font-size: 50px;
	color: #274c77;
	margin-bottom: 10px;
}

.portfolio h3{
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 12px;
	color: #8b8c89;
}

.portfolio p{
	color: #333;
	font-size: 1.1rem;
	line-height: 30px;
	margin-bottom: 1.5rem;
}

.conctact{
	width: 100%;
	height: 290px;
	background: #e7ecef;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.conctact h4{
	color: #274c77;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

/*mao ni style.css nga animate2 tahay sa mga words didto sa home page*/
header {
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
}

/* Sidebar styles */
.sidebar {
	position: fixed;
	top: 0;
	right: -250px; /* Initially hide the sidebar */
	width: 250px;
	height: 100%;
	background-color: #8b8c89;
	transition: right 0.3s ease;
	z-index: 999;
	padding-top: 1rem;
}

.sidebar.open {
	right: 0; /* Show the sidebar */
}

/* Close button styles */
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.5rem;
	color: #8b8c89;
	cursor: pointer;
	z-index: 1001; /* Ensure it's above other sidebar content */
}

/* Overlay when the sidebar is open */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 998;
	display: none;
}

.overlay.visible {
	display: block;
}

@keyframes fadeInOut {
	0%, 100% {
		opacity: 0;
		transform: translateY(20px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
}

.hero-text h3, .hero-text h1, .hero-text h4 {
	animation-fill-mode: forwards;
}

.hero-text h3 {
	animation-delay: 0s;
	animation-duration: 1.5s;
}

.hero-text h1 {
	animation-delay: 1s;
	animation-duration: 2s;
}

.hero-text h4 {
	animation-delay: 2s;
	animation-duration: 2.5s;
}

.btn-primary:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease;
}

/* tung sa img sa about me nga page*/
.hover-effect {
	transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.hover-effect:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/*tung sa certifications nga box2*/
/* Center the icon and make it wide */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Makes it full width */
    margin-bottom: 20px; /* Optional margin for spacing */
}

/* Adjust icon size and width */
.bx {
    font-size: 100px; /* Adjust size as needed */
    width: 100%; /* Makes it full width */
    text-align: center;
    display: inline-block;
    color: #333; /* Optional: Change icon color */
}

.body{
	background-color: #8b8c89;
}

.in h4{
	color: #e7ecef;
}

.end-section{
	background-color: #e7ecef;
}

.end-section p{
	color: #333;
}